
/* [START] Backround left menu */
.secondary-sidebar {
    min-height: 100%;
    float: left;
    width: 180px;
    background-color: #5d4f8d;
}
/* [END] Backround left menu */

/* [START] LOGO */
.logo-box {
    color: #fcf9ff;
    background: 0 0;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    display: block;
    text-decoration: none;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 32px;
}
.about-application{
    padding: 0em 0.5em 0em 0.5em;
    text-align: center;
    font-weight: 600;
    color: #fcf9ff;
}

/* [END] LOGO */

/* [START] Page links */
.secondary-sidebar-menu ul {
	padding-inline-start: 0px;
    padding-left: 20px;
    margin-top: 0;
}
.secondary-sidebar-menu ul li {
	list-style-type: none;
    position: relative;
	text-align: center;
}
.secondary-sidebar-menu li {
    line-height: 3rem;
    height: 3rem;
}
.secondary-sidebar-menu a {
	color: #000!important;
    font-weight: 600;
	text-decoration: none;
}
/* [END] Page links */

/* [START] Active link */
.active-link-top{
    background-color: #E3DFED;
    width: 100%;
    height: 100%;
}
.active-link-top-add {
    border-radius: 0rem 0rem 1rem 0rem;
    background-color: #5d4f8d;
    width: 100%;
    height: 100%;
}
.active-link-bottom {
    background-color: #E3DFED;
}
.active-link-bottom-add {
    /* 303946 */
    width: 100%;
    height: 100%;
    border-radius: 0rem 1rem 0rem 0rem;
    background-color: #5d4f8d;
}
.active-link{
    background-color: #E3DFED;
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 5px 0;
}
/* [END] Active link */