/* Error page - START */

.error-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #e3dfed;
    position: relative;
    overflow: hidden;
}
.error-block{
    text-align: center;
    position: relative;
    top: calc(45% - 135px);
}
.error-block > b{
    display: block;
    font-size: 24px;
    margin-top: 40px;
}
.error-block > img{
    height: 200px;
}
.error-footer{
    width: 100%;
    position: fixed;
    bottom: 15%;
    text-align: center;
}
.error-footer a{
    color: #5d4f8d;
    font-size: 18px;
    font-weight: 600;
}
.bg-cirlce{
    position: absolute;
    border-radius: 50%;
    border: solid 1px #5d4f8d;
    z-index: 0;
}
.error-wrapper .bg-cirlce:nth-child(1){
    width: 200px;
    height: 200px;
    top: -100px;
    left: 100px;
    animation: error-circle 1s infinite alternate-reverse;
}
.error-wrapper .bg-cirlce:nth-child(2){
    width: 100px;
    height: 100px;
    top: 60%;
    left: -50px;
    animation: error-circle 1.5s infinite alternate-reverse;
}
.error-wrapper .bg-cirlce:nth-child(3){
    width: 250px;
    height: 250px;
    bottom: -50px;
    right: -80px;
    animation: error-circle 1s infinite alternate-reverse;
}
.error-wrapper .bg-cirlce:nth-child(4){
    width: 75px;
    height: 75px;
    top: 30%;
    right: 20%;
    animation: error-circle 0.5s infinite alternate-reverse;
}
.error-wrapper .bg-cirlce:nth-child(5){
    width: 30px;
    height: 30px;
    top: 10%;
    right: 40%;
    animation: error-circle 1.5s infinite alternate-reverse;
}

/* Error page - END */

@keyframes error-circle{
    100%{
        transform: scale(1.1);
    }
}