
.card-search {
    padding: .75rem 1.25rem;
    height: auto;
}
.max-width-card {
    max-width: 500px;
    width: 30%;
}

.cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-body{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.card-green {
	border-left: 9px solid #40B562;
}
.card-violet {
	border-left: 9px solid #5B4D8A;
}
.card-orange {
	border-left: 9px solid #F6BC17;
}

.header-card-body{
    padding: 10px 10px;
    box-shadow: 0px 0px 5px rgb(168, 168, 168);
    border-radius: .9rem;
}

.time-weather {
    font-size: 40px;
}


.card-clothes-img{
    height: 5rem;
}
#current-date{
    font-weight: 600;
}
.address-field{
    font-weight: 600;
    padding-left: 35px;
}