<!DOCTYPE html>
<html>
<head>
    <title>Error 404</title>
    <meta charset="utf-8">
    <meta name="description" content="Web app">
    <meta name="keyboard" content="Web, app">
    <meta name="viewport" content="width=540, initial-scale=1">
    <!-- <link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon"> -->
</head>
<body>
    <main>
        <h1>Error 404</h1>
    </main>
</body>
</html>